h3bitmap.lod
h3sprite.lod
heroes3.snd
bitmap_DXT_com_x2.pak
bitmap_DXT_com_x3.pak
sprite_DXT_com_x2.pak
sprite_DXT_com_x3.pak
bitmap_DXT_loc_x2.pak
bitmap_DXT_loc_x3.pak
sprite_DXT_loc_x2.pak
sprite_DXT_loc_x3.pak
